html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: block;
  color: #fff;
  background-color: #333;
  margin: 0 10em;
}

.btn-subtle {
  display: block;
  color: #fff;
  background-color: #ccc;
  margin: 0 10em;
}

.btn-ghost {
  display: block;
  margin: 0 10em;
  color: #000;
  background-color: #fff;
  border: 3px solid #000;
}

.btn-warning {
  display: block;
  color: #fff;
  background-color: #f33;
  margin: 0 10em;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
}

.btn-warning:hover {
  background-color: #933;
}
